<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486830909705-80n9o8vuh1ljmk0ffh940rjfpgm84b45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486830909705-80n9o8vuh1ljmk0ffh940rjfpgm84b45</string>
	<key>API_KEY</key>
	<string>AIzaSyBKBRoSW7sosljmXKLB2Xcx3nY_LFuufbE</string>
	<key>GCM_SENDER_ID</key>
	<string>486830909705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anandbatjargal.--Layout-and-Stacks</string>
	<key>PROJECT_ID</key>
	<string>designcode-swiftuicourse-bc1cf</string>
	<key>STORAGE_BUCKET</key>
	<string>designcode-swiftuicourse-bc1cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486830909705:ios:7a1551963be19a19fe8bd8</string>
	<key>DATABASE_URL</key>
	<string>https://designcode-swiftuicourse-bc1cf.firebaseio.com</string>
</dict>
</plist>